<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Native
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h3>Welcome to Mobile Apps Starter project 2023.</h3>
    <ion-button (click)="getGPS()">Get GPS</ion-button>
    {{lat}}, {{long}}
    <br>
    <ion-button (click)="openBrowser()">Open in Browser</ion-button>
    </div>
</ion-content>
